@import '@styles/theme.module.scss';

.root {
    display: flex;
    flex-direction: row;
    padding-left: 3em;
    justify-content: space-between;
    padding-right: 3.5em;
    align-items: center;
    font: $button-font;

    @media only screen and (max-width: $mobile-width) {
        padding: 0 3em;
    }
    background-color: #c93f38;
    height: 5em;
    color: $white;
}

.menu {
    display: flex;
    column-gap: 2rem;
    font: $button-font;
}

.active {
    color: $black;
    font-weight: 600;
}
.img1 {
}
.img2 {
}
.img3 {
}
.img4 {
    width: 250px;
}
.button1 {
    background-color: $white;
    border-radius: 30px;
    width: 75px;
    display: block;
    overflow: visible;
    position: static;
    padding-left: 3px;
    padding-right: 3px;
}
.header1 {
}
.header2 {
    font-size: 40px;
    font-family: Impact, sans-serif;
}
